body, html{
	background: #333;
	color: #fff;
	font-family: 'din';
}
ul, li{
	list-style: none;
	padding: 0;
}
.pads{
	display: flex;
}
.pad {
	text-align: center;
	padding:5px;
}
.pad button{
	height: 100px;
	width: 100px;
	padding: 0;
	border-radius: 10px;
	border: 4px solid #333;
	background-color:#222;
}
.pad button.press{
	border-color:green;
}
.pad span{
	display: block;
	text-transform: uppercase;
	font-size:80%;
}